<!DOCTYPE html >
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=GBK" />
<title><%=title%></title>
<base href="http://192.168.50.103:3333/" />
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/d3.js"></script>
<body>
<div id="header" class="container">
    <div id="logo">
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/visit/<%=title%>">访问流量 </a></li>
            <li><a href="/req/bubble/<%=title%>">请求Bubble </a></li>
            <li><a href="/req/circlepack/<%=title%>">请求CirclePack</a></li>
        </ul>
    </div>
</div>
